
<%- include("partials/header"); -%>

<div class="jumbotron" text-center>
    <div class="container">
        <i class= "fas fa-key fa-6x"></i>
        <h1>News so far</h1>
        <hr/>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-light btn-lg" href="/compose" role="button">Compose</a>
        <a class="btn btn-light btn-lg" href="/delete" role="button">Delete</a>

        <%  posts.slice().reverse().forEach(function(post){ %>

            <h2><%=post.title%></h2>
            <p>
            <%=post.content + " ..."%>
            <a href="/posts/<%=post._id%>">Read More</a>
            </p>
        
        
            <% }) %>


    </div>

</div>

<%- include("partials/footer"); -%>
